*{
    margin: 0;
    padding: 0;
}
.header{
    height: 50px;
    text-align: center;
}
.header img{
    height: 50px;
}
.navbar{
    line-height: 60px;
    height: 60px;
    background-color: #A2DBF9;
}
.navbar-warp{
    width: 1200px;
    margin: 0 auto;
}
.about{
    display: block;
    width: 100px;
    background-color: #01AEF0;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.main-body{
    width: 1200px;
    margin: 0 auto;
}
.main-body p{
    text-indent: 20px;
}
.footer{
    text-align: center;
    background-color: #A2DBF9;
}